html, body, #wrapper {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #f0f0f0;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

#wrapper {
    display: flex;
    flex-direction: column;

}

ul {
    list-style-type: none;
}


button {
    color: #f0f0f0;
    background-color: limegreen;
    border-color: green;
    padding-bottom: 1%;
    border-radius: 14px;
    border-width: 1px;
}

.signIn button{
    width: 100%;
}

.sluGoButton:hover{
    width: 30%;
    font-weight: bold;
}

.header {
    max-width: 100%;
    height: 20%;
    justify-items: center;
    padding: 1%;
}

.logo {
    background-image: url('../images/logo.png');
    float: left;
    margin: 0;
    margin-top: 1%;
    background-size: contain;
    width: 20%;
    max-height: 15%;
    min-height: 10%;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
}

.signIn {
    float: right;
    padding: 2%;
}

.pictures {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    min-height: 60%;
    margin-bottom: 5%;
    text-align: center;
}

.pictures img{
    max-height: 100%;
    min-height: 100%;
}

.firstSection {
    display: flex;
    height: 100%;
    width: 100%;
}

.leftSection {
    display: flex;
    width: 90%;
    min-height: 100%;
    padding-right: 3%;
    padding-left: 3%;
}

.upcoming {
    min-width: 40%;
    display:flex;
    max-height: 100%;
    margin: 0;
    padding: 0;

}

.listOfEvents {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 100%;
    margin: 0;
    padding-right: 8%;
    width: 100%;

}

.description {
    background-color: rgba(30,144,255,0.6);
    min-height: 100%;
    padding-right: 5%;
    padding-left: 5%;
    transition: height 1s;
    border-radius: 15px 50px 30px;
}

.listOfEvents li{
    padding-top: 5%;
    background-color: rgba(30,144,255,0.6);
    padding-left: 2%;
    margin-top: 2%;
    height: 25%;
    border-bottom: 2px solid;
    border-bottom-color: #ffed28;
    border-radius: 15px 15px 15px 5px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.socialMedia {
    display: flex;
    flex-direction: column;
}

.facebook img, .twitter img, .calendar img {
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.facebook img:hover, .twitter img:hover, .calendar img:hover {
    width: 50%;
}

.midSection {
    min-height: 60%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    margin-top: 5%;
}

.sluGoImage {
    max-height: 100%;
    min-width: 40%;
    display:flex;
    margin: 0;
    padding: 0;
    padding-left: 5%;
}

.sluGoImage img {
    max-width: 100%;
    height: auto;
}

.sluGoImage:hover {
    min-width: 45%;
}

.sluGoNonImage {
    padding: 3%;
    padding-top: 7%;
}

.sluGoRegistration {
    text-align: center;
}

.lastSection {
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.officers {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.officers .pic img{
    max-width: 35%;
    border-radius: 50%;
    margin-left: 32%;
}

.aboutOfficer {
    height: 50%;
    text-align: center;
}

.footer {
    min-height: 10vh;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    justify-content: center;
}




